# This is an example of the .env file needed for the LLM to run, fill this with a token that has models:read
GITHUB_LLM_TOKEN = Your key here, fill this with a token that has models:read
COHERE_LLM_KEY = Your Cohere token id
